/* ==========================================================================
   LAYOUT GLOBAL & REINITIALISATIONS
   ========================================================================== */
.app-layout {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.app-main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Corrections éléments formulaires natifs (Select) */
select,
select::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  content: "▾";
}

select::picker(select) {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 8px;
}

select option {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

option::checkmark {
  display: none;
}

/* Responsive Global */
@media (max-width: 960px) {
  .app-main {
    padding: 1.5rem 1.5rem 3rem;
  }
}